/* GENERAL */
a {
    text-decoration: none;
}

#publi-hal-all {
    background-color: white;
    width: 100%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

/* END GENERAL */

/* SPINNER */
.hal-spinner {
    text-align: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #fff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    background-color: #337ab7;
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}

/* END SPINNER */

/* HAL BUTTON */
.hal-btn,
.hal-btn:hover {
    border: 1px solid transparent;
    display: inline-block;
    line-height: 1.5;
    padding: .375rem .75rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    user-select: none;
    vertical-align: middle;
    text-align: left;
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 0;
    color: #337ab7;
    font-size: 1.15rem;
    font-weight: 700;
}

.hal-btn:hover .hal-icon {
    color: #212529;
    text-decoration: none;
}

.hal-btn:hover a {
    color: #212529;
    text-decoration: none;
}

.hal-icon {
    color: #337ab7;
    padding-right: 7px;
}

.icon-drop_down {
    float: right;
    font-size: 1rem;
    margin-right: 10px;
    margin-top: 0;
    padding-top: 8px;
    --fa-rotate-angle: -90deg;
}

/* END HAL BUTTON */

/* HAL CONTENT */
.hal-content {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.hal-table-white {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.hal-table-white td {
    padding: 0.5em;
    border-bottom: 1px solid #bdc1c4;
}

.hal-table-white tbody tr td:first-child,
.hal-table-white tr td:first-child {
    padding-left: 14px;
}

.hal-table-white tbody tr td,
.hal-table-white tr td {
    display: table-cell;
    vertical-align: middle;
}

.hal-table-white tbody tr:focus,
tbody tr:hover,
.hal-table-white tr:focus,
.hal-table-white tr:hover {
    background-color: #eef2f6;
    box-shadow: 0 3px 6px #00000029;
}

.hal-table-white .d-sm-table-cell {
    display: table-cell !important;
}

.hal-results-table tr td:first-child {
    width: 61px;
}

.hal-results-table tr td {
    border-right: none;
}

.hal-results-table tr td::nth-last-child(1) {
    border-bottom: none;
}

.hal-results-table tr td::nth-last-child(2) {
    border-bottom: none;
}

.hal-results-table td a {
    color: #494e52;
    height: 100%;
    width: 100%;
}

.hal-results-table h3 {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;
}

.hal-results-table td a:hover {
    text-decoration: none;
}

.table-white .authors-results {
    color: #337ab7;
    font-size: .85rem;
    font-weight: 700;
}

.hal-results-table .citation-results,
.hal-results-table .citation-results a {
    color: #826b6b;
    font-size: .85rem;
}

.hal-title {
    padding-left: 15px;
}

/** HAL MEDIA **/
.hal-media {
    height: 94px;
    width: 74px;
}

.hal-media img {
    background: #fff;
    border: 1px solid #e8e8e8;
    height: 100%;
    width: 100%;
}

/** END HAL MEDIA **/

/* END HAL CONTENT */