/* GENERAL */
a {
    text-decoration: none;
}

#publi-hal-all {
    width: 100%;
    margin: auto;
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: left;
}

#publi-hal-all * {
    background: inherit; 
    color: inherit;
}
/* END GENERAL */

/* SPINNER */
.hal-spinner {
    text-align: center;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
    background-color: #337ab7 !important;
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}

@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(24px, 0);
    }
}
/* END SPINNER */

/* HAL BUTTON */
.hal-btn {
    border: none;
    background-color: transparent;
    line-height: 1.5;
    padding: .375rem .75rem;
    text-align: left;
    width: 100%;
    color: #337ab7;
    font-size: 1.15rem;
    font-weight: 700;
}

.hal-icon {
    padding-right: 7px;
}

.icon-drop_down {
    float: right;
    font-size: 1rem;
    margin-right: 10px;
    margin-top: 0;
    padding-top: 8px;
    --fa-rotate-angle: -90deg;
}

.hal-btn a {
    transition: padding-left 0.8s;
}

.hal-btn:hover a {
    padding-left: 10px;
    cursor: pointer;
}
/* END HAL BUTTON */

/* HAL CONTENT */
.hal-content {
    margin-left: 22px;
    margin-right: 22px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding-bottom: 15px;
}

.hal-table-white {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.hal-table-white td {
    padding: 0.5em;
    border-bottom: 1px solid #bdc1c4;
}

.hal-table-white tbody tr td:first-child,
.hal-table-white tr td:first-child {
    padding-left: 14px;
}

.hal-table-white tbody tr td,
.hal-table-white tr td {
    display: table-cell;
    vertical-align: middle;
}

.hal-table-white tbody tr:focus,
.hal-table-white tbody tr:hover,
.hal-table-white tr:focus,
.hal-table-white tr:hover {
    box-shadow: 5px 5px 5px;
}

.hal-table-white .d-sm-table-cell {
    display: table-cell !important;
}

.hal-results-table tr td:first-child {
    width: 61px;
}


@media (max-width: 500px) {
    .hal-results-table tr td:first-child {
        display: none !important;
    }
}

.hal-results-table tr td {
    border-right: none;
}

.hal-results-table tr td::nth-last-child(1) {
    border-bottom: none;
}

.hal-results-table tr td::nth-last-child(2) {
    border-bottom: none;
}

.hal-results-table td a {
    color: inherit;
    height: 100%;
    width: 100%;
}

.hal-results-table h3 {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;
}

.hal-results-table td a:hover {
    text-decoration: none;
}

.table-white .authors-results {
    color: #337ab7;
    font-size: .85rem;
    font-weight: 700;
}

.hal-results-table .citation-results,
.hal-results-table .citation-results a {
    color: inherit;
    font-size: .85rem;
}

.hal-title {
    padding-left: 15px;
}

/** HAL MEDIA **/
.hal-media {
    height: 94px;
    width: 74px;
}

.hal-media img {
    background: #fff !important;
    border: 1px solid #e8e8e8;
    max-width: none;
    max-height: none;
    height: 100%;
    width: 100%;
}

.hal-export-pdf {
    padding-right: 10px;
}

.hal-export-cite:hover {
    cursor: pointer;
}
/** END HAL MEDIA **/

/** HAL BIBTEX CITATION **/
.hal-biblatex-citation {
    display: none;
    white-space: pre-wrap;
}

.hal-citation-copy-success {
    padding-left: 10px;
    color: #00aa00 !important;
    display: inline;
}

.hal-citation-copy-success.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}
  
.hal-citation-copy-success.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
  }
/** ENDHAL BIBTEX CITATION  **/

/** HAL WORDCLOUD **/
#wordcloud-hal {
    margin: auto;
    margin-top: 3%;
    text-align: center;
    box-shadow: 5px 5px 5px;
    border: 1px solid;
    width: 80%;
}

@media (max-width: 500px) {
    #wordcloud-hal {
        width: 95%;
    }
}


#wordcloud-hal h2 {
    margin: 0;
    padding-top: 0.8em;
    padding-bottom: 0.8em;
    border-bottom: 1px solid;
}

#wordcloud-hal .hal-cloud-word {
    padding-top: 1em;
    padding-bottom: 1em;
}

#wordcloud-hal .keyword {
    color: inherit;
    padding-left: 1%;
    padding-right: 1%;
    text-align: justify;
}

#wordcloud-hal .keyword-1 {
   font-size: 8px;
}
#wordcloud-hal .keyword-2 {
    font-size: 9px;
}
#wordcloud-hal .keyword-3 {
    font-size: 10px;
}
#wordcloud-hal .keyword-4 {
    font-size: 12px;
}
#wordcloud-hal .keyword-5 {
    font-size: 14px;
}
#wordcloud-hal .keyword-6 {
    font-size: 16px;
}
#wordcloud-hal .keyword-7 {
    font-size: 18px;
}
#wordcloud-hal .keyword-8 {
    font-size: 20px;
}
#wordcloud-hal .keyword-9 {
    font-size: 22px;
}
#wordcloud-hal .keyword-10 {
    font-size: 24px;
}
/** END HAL WORDCLOUD **/


/* END HAL CONTENT */