
/* HAL BUTTON */
.hal-btn {
    border: none;
    text-align: left;
    width: 100%;
    font-size: 1.15rem;
    font-weight: 700;
}

.hal-icon {
    padding-right: 1rem;
}

.icon-drop_down {
    float: right;
    --fa-rotate-angle: -90deg;
}

.hal-btn a {
    transition: padding-left 0.8s ease-in-out;
}

.hal-btn:hover {
    cursor: pointer;
    a {
        padding-left: 1rem;
    }
}
/* END HAL BUTTON */