/** HAL BIBTEX CITATION **/
.hbi-biblatex-citation {
    display: none;
    white-space: pre-wrap;
}

.hbi-citation-copy-success {
    padding-left: 10px;
    color: #00aa00 !important;
    display: inline;
}

.hbi-citation-copy-success.visible {
    visibility: visible;
    opacity: 1;
    transition: opacity 2s linear;
}

.hbi-citation-copy-success.hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 2s linear;
}

/** ENDHAL BIBTEX CITATION  **/