.hbi-list {
    margin-top: 2rem;
}

.hbi-content {
    margin-top: 1rem;
}

.hbi-results-table {
    width: 100%;
    border-collapse: collapse;
}

.hbi-results-table tbody {
    display: table-row-group;
}

.hbi-results-table tr {
    display: table-row;
    border-bottom: 1px solid #bdc1c4;
    border-top: 1px solid #bdc1c4;
}

.hbi-results-table td {
    display: table-cell;
    padding: 0.5rem;
}

.hbi-results-table tbody tr:focus,
.hbi-results-table tbody tr:hover,
.hbi-results-table tr:focus,
.hbi-results-table tr:hover {
    box-shadow: 5px 5px 5px;
}

.hbi-results-table tr td:first-child {
    width: 60px;
    text-align: center;
}

.hbi-results-table h3 {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0;
}

.hbi-results-table td a:hover {
    text-decoration: none;
}

.hbi-results-table .citation-results,
.hbi-results-table .citation-results a {
    font-size: .85rem;
}

@media (max-width: $medium-screen-width) {
    .hbi-results-table tr td:first-child {
        display: none !important;
    }
}