/** HAL MEDIA **/
.hal-media img {
    background: #fff !important;
    border: 1px solid #e8e8e8;
}

.hal-export-pdf {
    padding-right: 0.5rem;
}

.hal-export-cite:hover {
    cursor: pointer;
}
/** END HAL MEDIA **/