/** HAL MEDIA **/
.hbi-media img {
    background: #fff !important;
    border: 1px solid #e8e8e8;
}

.hbi-export-pdf {
    padding-right: 0.5rem;
}

.hbi-export-cite:hover {
    cursor: pointer;
}

/** END HAL MEDIA **/