/* GENERAL */
a {
    text-decoration: none;
}

#hbi-bibliography-integrator * {
    background: inherit;
    color: inherit;

    table {
        border: none;

        td {
            border: none;
        }
    }
}

/* END GENERAL */