/* GENERAL */
a {
    text-decoration: none;
}

#hal-bibliography-integrator * {
    background: inherit; 
    color: inherit;

    table {
        border: none;
        
        td {
            border: none;
        }
    }
}
/* END GENERAL */