/* GENERAL */
a {
    text-decoration: none;
}

#publi-hal-all * {
    background: inherit; 
    color: inherit;

    table {
        border: none;
        
        td {
            border: none;
        }
    }
}
/* END GENERAL */